# Build
target/
**/target/

# Node/Angular
node_modules/
dist/
.angular/
coverage/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
.env.local
application-local.yaml

# Maven
.m2/
!.mvn/
.mvn/wrapper/maven-wrapper.jar

# Testcontainers Reuse-Properties (lokal)
.testcontainers.properties
